.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

/* profile header */
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.profile-header-background {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  background-color: #f7eedd;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.profile-user-avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  text-align: center;
  line-height: 7rem;
  color: white;
  font-size: 5rem;
  font-weight: 500;
  position: relative;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-user-info {
  display: flex;
  flex-direction: column;
  margin-top: -3rem;
  align-items: flex-start;
  margin-bottom: 1rem;
  gap: 0.1rem;
  width: 100%;
}

.profile-username {
  font-size: 1.5rem;
}

.profile-tab-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.profile-tab-headers {
  display: flex;
  flex-direction: row;
}

.profile-tab-header {
  padding: 0.1rem 1rem;
  cursor: pointer;
  border: 1px solid #f7eedd;
  background-color: #f7eedd;
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-tab-header.active {
  background-color: #ff7f50;
  border-bottom: 1px solid #fff;
}

.profile-tab-header:hover {
  background-color: #ffd299;
}
